/* Chat containers */
html{
  word-wrap: break-word;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    max-width: 500px;
    margin: 10px 0;
  }
  
  #out{
      max-width: 500;
  }

  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .author {
    float: left;
    max-width: 200px;
    width: 100%;
    font-weight: bold;
    margin-right: 20px;
  }
  
  /* Style the right image */
  .author-right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }